@use 'variables';

.data{
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px){
            display: block;
        }

        &__item{
            img{
                width: 75px;
                margin: 0 auto;
                display: block;
            }
            p{
                text-align: center;
                padding: 8px 0;
            }
        }
    }
}